.movies {
  display: grid;
  grid-template-columns: 480px 480px;
  justify-items: center;
  grid-gap: 45px 32px;
  margin-top: 45px;
  /* grid-auto-rows: minmax(200px, auto); */
}

.movie {
  display: flex;
  background: #ffffff;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movie img {
  height: 133px;
  max-width: 88px;
  margin: 0 18px;
  position: relative;
  top: -17px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movie__data {
  margin-top: 22px;
}

.movie__title {
  margin-bottom: 5px;
  font-size: 24px;
  color: #2c2c2c;
  font-size: 24px;
  margin-bottom: 10px;
}

.movie__year {
  margin-bottom: 10px;
}

.movie__genres {
  display: flex;
}

.movie__genres__genre {
  margin-right: 10px;
  margin-bottom: 10px;
}

.movie .movie__summary {
  margin-bottom: 22px;
}

.movie,
.movie__summary {
  color: #949294;
}
